language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install -e src
  - echo '{"jwt_secret": "travis", "db_pswd": "travis", "mail_pswd": "travis"}' > src/server/prod_secrets.json
script:
  - pytest
branches:
  only:
  - master
  - develop
